:root {
    --comments-spacing: 3rem;
    --comments-avatar-size: 2.5rem;
    --comments-avatar-margin: 0.75rem;
    --comments-border-radius: 0.375rem;
    --comments-z-dropdown: 2;
    --comments-z-modal: 3;
}

.comments-avatar {
    width: var(--comments-avatar-size);
    height: var(--comments-avatar-size);
    border-radius: var(--comments-avatar-size);
    margin-right: var(--comments-avatar-margin);
}

/** @todo Remove hack, currently necessary to win agains Tailwind CDN specificity */
.comments-button.comments-button {
    border-radius: var(--comments-border-radius);
    color: white;
    background-color: #4338ca;
    padding: 0.5rem 1rem;
}

.comments-button:hover {
    background-color: rgba(67, 56, 202, 0.75);
}

.comments-button.is-small {
    padding: 0.25rem 0.5rem;
}

.comments-button.is-link {
    background-color: transparent;
    color: rgb(156 163 175);
    text-decoration: underline;
}

.comments-button.is-danger {
    background-color: rgb(225, 29, 72);
}

.comments-button.is-danger:hover {
    background-color: rgb(244, 63, 94);
}

.comments-button svg {
    stroke: white;
}

.comments-comment {
    display: flex;
    background-color: #fbfbfb;
    padding: 1rem;
    border-radius: 0.2rem;
}
.comments-nested .comments-comment{
    background-color: #FFF;
    padding: 0;
}

.comments-comment-inner {
    flex-grow: 1;
}


.comments-comment-header {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: rgb(17, 24, 39);
    min-height: 2rem;
    margin-bottom: 0.25rem;
}

.comments-comment-header .divider {
    --size: 0.21rem;

    background-color: rgb(156, 163, 175);
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    margin: 0 0.5rem;
    transform: translateY(calc(var(--size) * 0.25));
}

.comments-date {
    color: rgb(156 163 175);
    font-size: 0.8rem;
}

.comments-date:hover {
    text-decoration: underline;
}

.comments-dropdown {
    flex-grow: 1;
    gap: 1rem;
    position: relative;
    align-items: center;
    z-index: var(--comments-z-dropdown);
}

.comments-dropdown-trigger {
    display: flex;
    align-items: center;
    float: right;
    gap: 0.5rem;
    border-radius: var(--comments-border-radius);
    cursor: pointer;
    padding: 0.25rem;
}

.comments-dropdown-items {
    position: absolute;
    width: 12rem;
    background-color: white;
    border-radius: var(--comments-border-radius);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    right: 2rem;
}

.comments-dropdown-item {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 0.2rem;
}

.comments-dropdown-item.danger:hover {
    color: rgb(239 68 68);
}

.comments-dropdown-item:first-child {
    border-radius: var(--comments-border-radius) var(--comments-border-radius) 0 0;
}

.comments-dropdown-item:last-child {
    border-radius: 0 0 var(--comments-border-radius) var(--comments-border-radius);
}

.comments-dropdown-trigger:hover,
.comments-dropdown-item:hover {
    background-color: rgb(229 231 235);
}

.comments-error {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: rgb(239 68 68);
}

.comments-form {
    display: flex;
}

.comments-form-inner {
    flex-grow: 1;
}

.comments-form-inner button {
    margin-top: 0.5rem;
}

.comments-group {
    position: relative;
    padding-bottom: var(--comments-spacing);
    margin-bottom: var(--comments-spacing);
}

.comments-group:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: calc(var(--comments-avatar-size) + var(--comments-avatar-margin));
    border-bottom: 1px solid #ddd;
}

.comments-group .comments-group {
    padding-bottom: 0;
    margin-bottom: calc(var(--comments-spacing) / 2);
}

.comments-group .comments-group:after {
    content: none;
}

.comments-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--comments-spacing);
}

.comments-header strong {
    font-size: 1.125rem;
    font-weight: 500;
    color: rgb(17, 24, 39);
}

.comments-icon {
    height: 1.25rem;
    width: 1.25rem;
    stroke: #374151;
}

.comments-modal {
    position: absolute;
    z-index: var(--comments-z-modal);
    width: 16rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: var(--comments-border-radius);
    top: 0;
    right: 0;
    padding: 1rem;
}

.comments-modal.is-left {
    right: auto;
    left: 0;
}

.comments-modal.is-compact {
    padding: 0.5rem;
}

.comments-modal-title {
    font-weight: 500;
}

.comments-modal-contents {
    font-weight: normal;
    line-height: 1.25;
}

.comments-modal-contents p {
    margin-bottom: 0.5rem;
}

.comments-modal-contents .comments-button {
    float: right;
}

.comments-nested {
    margin-top: 1.5rem;
    padding-left: calc(var(--comments-avatar-size) + var(--comments-avatar-margin));
}

.comments-placeholder {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    height: var(--comments-avatar-size);
}

.comments-reactions {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.comments-reaction {
    display: flex;
    align-items: center;
    border-radius: var(--comments-border-radius);
    cursor: pointer;
    background-color: rgb(229 231 235);
    padding: 0 0.5rem;
    height: 1.5rem;
    font-size: 0.65rem;
}

.comments-reaction:hover {
    background-color: rgb(209 213 219);
}

.comments-reaction.is-reacted {
    border: 1px solid #4338ca;
    background-color: rgba(67, 56, 202, 0.25);
}

.comments-reaction.is-reacted:hover {
    background-color: rgba(67, 56, 202, 0.5);
}

.comments-reaction-picker {
    position: relative;
}

/** @todo Remove hack, currently necessary to win agains Tailwind CDN specificity */
.comments-reaction-picker-trigger.comments-reaction-picker-trigger {
    display: flex;
    align-items: center;
    height: 1.75rem;
    padding: 0 0.5rem;
    cursor: pointer;
    border-radius: var(--comments-border-radius);
    background-color: #f2f2f2;
}

.comments-reaction-picker-trigger:hover {
    background-color: rgb(229 231 235);
}

.comments-reaction-picker-reactions {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(5, 1fr);
}

.comments-reaction-picker-reaction {
    height: 1.75rem;
    padding: 0 0.25rem;
    border-radius: var(--comments-border-radius);
    cursor: pointer;
}

.comments-reaction-picker-reaction:hover {
    background-color: rgb(243 244 246);
}

.comments-reaction-picker-reaction.is-reacted {
    background-color: rgba(67, 56, 202, 0.25);
}

.comments-reaction-picker-reaction.is-reacted:hover {
    background-color: rgba(67, 56, 202, 0.5);
}

.comments-toggle {
    display: flex;
    align-content: center;
    gap: 0.5rem;
    position: relative;
}

.comments-toggle input {
    -webkit-appearance: none;
    appearance: none;
    display: hidden;
    visibility: hidden;
}

.comments-toggle input + span {
    cursor: pointer;
    width: 3rem;
    height: 1.5rem;
    background-color: rgb(226 232 240);
    display: block;
    border-radius: 999999px;
    position: relative;
}

.comments-toggle input + span:after {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 999999px;
    transition: left 0.25s;
}

.comments-toggle input:checked + span {
    background: #4338ca;
}

.comments-toggle input:checked + span:after {
    left: calc(100% - 1.25rem);
}

.comment-no-comment-yet{
    text-align: center;
    margin: 2rem 0 4rem 0;
    color: gray;
    font-style: italic;
}

.CodeMirror-scroll, .CodeMirror{
    min-height: 10rem !important;
}

.comments-comment-inner code {
    padding: 0.2rem 0.5rem;
    background-color: #f2f2f2;
    border-radius: 0.3rem;

}

.comments-comment-inner .shiki code{
    padding: 0;
    background-color: transparent;
}

.comments-comment-inner .shiki  {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    background-color: #f2f2f2 !important;
    overflow: hidden;
    overflow-x: scroll;
}



.comments-comment-inner a{
    color: #4338ca;
    text-decoration: underline;
}

.comments-comment-inner .comments-comment-header a{
    text-decoration: none;
}

.comments-comment-inner > div:nth-child(2) > *:not(:first-child),
.comments-comment-inner > div:nth-child(2)  blockquote > *:not(:first-child),
.comments-comment-inner > div:nth-child(2)  ul > *:not(:first-child):not(li),
.comments-comment-inner > div:nth-child(2)  ol > *:not(:first-child):not(li)
{
    margin-top: 1rem;
}

.comments-comment-inner > div:nth-child(2)  h1{
    font-size: 2rem;
    font-weight: bold;
}

.comments-comment-inner > div:nth-child(2)  h2{
    font-size: 1.7rem;
    font-weight: bold;
}

.comments-comment-inner > div:nth-child(2)  h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.comments-comment-inner > div:nth-child(2)  h4{
    font-size: 1.3rem;
    font-weight: bold;
}

.comments-comment-inner > div:nth-child(2)  h5{
    font-size: 1.1rem;
    font-weight: bold;
}

.comments-comment-inner > div:nth-child(2)  h6{
    font-size: 1rem;
    font-weight: bold;
}

.comments-comment-inner > div:nth-child(2)  blockquote{
    background-color: #fbfbfb;
    padding: 1rem;
    border-left: solid 3px #ddd;
}

.comments-comment-inner > div:nth-child(2)  ul, .comments-comment-inner > div:nth-child(2)  ol{
    padding-left: 1rem;

}

.comments-comment-inner > div:nth-child(2) ul li{
    list-style: circle;
}

.comments-comment-inner > div:nth-child(2) ol li{
    list-style:decimal;
}

.comments-comment-inner > div:nth-child(2) > *,
.comments-comment-inner
{
    max-width: 100%;
}

.comments-comment-inner > div:nth-child(2) {
    max-width: calc(100% - var(--comments-avatar-size));
}

.comments-info-message {
    background-color: #dae9fa;
    border-radius: var(--comments-border-radius);
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}
