:root {
    --comments-avatar-size: 2.5rem;
    --comments-avatar-margin: 0.75rem;
    --comments-border-radius: 0.375rem;
    --comments-z-dropdown: 2;
    --comments-z-modal: 3;
}

/* @todo Process */

.reaction-picker {
    padding: 0.25rem;
    z-index: 30;
    position: relative;
    cursor: pointer;
    border-radius: var(--comments-border-radius);
}

.reaction-picker > svg {
    height: 1.25rem;
    width: 1.25rem;
    stroke: #374151;
}

.reaction-picker:hover {
    background-color: rgb(229 231 235);
}

.reaction-picker-modal {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: var(--comments-border-radius);
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateX(1rem);
}

.reaction-picker-modal > div {
    padding: 0.25rem;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 14rem;
}

.reaction-picker-modal .reaction-emoticon {
    border: 1px solid rgba(243 244 246, 0);
    text-align: center;
    grid-column: span 1 / span 1;
    padding: 0.5rem;
    border-radius: var(--comments-border-radius);
    cursor: pointer;
}

.reaction-picker-modal .reaction-emoticon:hover {
    background-color: rgb(243 244 246);
}

.reaction-picker-modal .reaction-emoticon.reacted {
    background-color: rgba(67, 56, 202, 0.25);
}

.reaction-picker-modal .reaction-emoticon.reacted:hover {
    background-color: rgba(67, 56, 202, 0.5);
}

.reactions {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.reactions > :not([hidden]) ~ :not([hidden]) {
    margin-left: 1rem;
}

.reactions > div {
    border-radius: 99999px;
    cursor: pointer;
    background-color: rgb(229 231 235);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    hover: bg-gray-300 bg-gray-200 py-1 px-2 text-sm;
}

.reactions > div:hover {
    background-color: rgb(209 213 219);
}

.reactions > div.reacted {
    border: 1px solid #4338ca;
    background-color: rgba(67, 56, 202, 0.25);
}

.reactions > div.reacted:hover {
    background-color: rgba(67, 56, 202, 0.5);
}

/* @todo end process */

.comments-avatar {
    width: var(--comments-avatar-size);
    height: var(--comments-avatar-size);
    border-radius: var(--comments-avatar-size);
    margin-right: var(--comments-avatar-margin);
}

/** @todo Remove hack, currently necessary to win agains Tailwind CDN specificity */
.comments-button.comments-button {
    border-radius: var(--comments-border-radius);
    color: white;
    background-color: #4338ca;
    padding: 0.5rem 1rem;
}

.comments-button:hover {
    background-color: rgba(67, 56, 202, 0.75);
}

.comments-button.is-small {
    padding: 0.25rem 0.5rem;
}

.comments-button.is-danger {
    background-color: rgb(225, 29, 72);
}

.comments-button.is-danger:hover {
    background-color: rgb(244, 63, 94);
}

.comments-button svg {
    stroke: white;
}

.comments-comment {
    display: flex;
}

.comments-comment-inner {
    flex-grow: 1;
}

.comments-comment-header {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: rgb(17, 24, 39);
}

.comments-comment-header .divider {
    --size: 0.25rem;

    background-color: rgb(156, 163, 175);
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    margin: 0 0.75rem;
}

.comments-date {
    color: rgb(156 163 175);
}

.comments-date:hover {
    text-decoration: underline;
}

.comments-dropdown {
    flex-grow: 1;
    gap: 1rem;
    position: relative;
    align-items: center;
    z-index: var(--comments-z-dropdown);
}

.comments-dropdown-trigger {
    display: flex;
    align-items: center;
    float: right;
    gap: 0.5rem;
    border-radius: var(--comments-border-radius);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}

.comments-dropdown-items {
    position: absolute;
    width: 12rem;
    background-color: white;
    border-radius: var(--comments-border-radius);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    right: 3rem;
}

.comments-dropdown-item {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.comments-dropdown-item:first-child {
    border-radius: var(--comments-border-radius) var(--comments-border-radius) 0 0;
}

.comments-dropdown-item:last-child {
    border-radius: 0 0 var(--comments-border-radius) var(--comments-border-radius);
}

.comments-dropdown-trigger:hover,
.comments-dropdown-item:hover {
    background-color: rgb(229 231 235);
}

.comments-error {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: rgb(239 68 68);
}

.comments-form {
    display: flex;
}

.comments-form-inner {
    flex-grow: 1;
}

.comments-form-inner button {
    margin-top: 0.5rem;
}

.comments-group.is-top-level {
    background-color: white;
    margin-bottom: 3rem;
}

.comments-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.comments-header strong {
    font-size: 1.125rem;
    font-weight: 500;
    color: rgb(17, 24, 39);
}

.comments-icon {
    height: 1.25rem;
    width: 1.25rem;
    stroke: #374151;
}

.comments-modal {
    position: absolute;
    z-index: var(--comments-z-modal);
    width: 16rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: var(--comments-border-radius);
    top: 0;
    right: 0;
    padding: 1rem;
}

.comments-modal-title {
    font-weight: 700;
}

.comments-modal-contents p {
    line-height: 1.25;
    margin-bottom: 0.5rem;
}

.comments-modal-contents button {
    margin-left: auto;
}

.comments-nested {
    padding-left: calc(var(--comments-avatar-size) + var(--comments-avatar-margin));
}

.comments-placeholder {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    height: var(--comments-avatar-size);
}

.comments-toggle {
    display: flex;
    align-content: center;
    gap: 0.5rem;
    position: relative;
}

.comments-toggle input {
    -webkit-appearance: none;
    appearance: none;
    display: hidden;
    visibility: hidden;
}

.comments-toggle input + span {
    cursor: pointer;
    width: 3rem;
    height: 1.5rem;
    background-color: rgb(226 232 240);
    display: block;
    border-radius: 999999px;
    position: relative;
}

.comments-toggle input + span:after {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 999999px;
    transition: left 0.25s;
}

.comments-toggle input:checked + span {
    background: #4338ca;
}

.comments-toggle input:checked + span:after {
    left: calc(100% - 1.25rem);
}
